.App {
  text-align: center;
  margin: 50px auto 0px;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  background: rgb(0, 255, 166);
}

.search-engine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input {
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
  color: #555555;
}

.search-engine button {
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
}

.city-name {
  margin-bottom: 10px;
  height: 100%;
}

.loading {
  font-size: 60px;
  font-weight: bolder;
  color: #000;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.weather-info p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.333% - 40px);
  height: 100px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: #e6a3a3 5px 5px 5px;
  border: 1px solid;
  opacity: 0.8;
  top: 50%;
  transition: all 1s ease;
}